[2016-09-01 08:50] johanstokking opened #1 "Adapt to production MQTT protocol"
See https://github.com/TheThingsNetwork/ttn/tree/refactor/mqtt

[2016-09-16 06:33] FokkeZB commented on #1
Ready in https://github.com/TheThingsNetwork/nodered-app-lib/tree/refactor

[2016-09-16 06:34] FokkeZB opened #5 "Add support for downlink"
In the works by @romeovs at https://github.com/TheThingsNetwork/nodered-app-lib/tree/feature/downlink-node

[2016-09-16 06:36] FokkeZB opened #6 "Add uplink field topics support"
The MQTT broker now published topics for specific fields:
https://github.com/TheThingsNetwork/ttn/tree/refactor/mqtt#uplink-fields

In the node's settings the user should be able to override the default `messages` topic alias (which is `+/devices/+/up`.

[2016-09-16 10:12] FokkeZB opened #7 "Re-add node to Node-RED Library"
Somehow the node has [disappeared](http://flows.nodered.org/node/node-red-contrib-ttn) from the [Node-RED Library](http://flows.nodered.org/). Maybe because it's confused by the refactor-tagged versions I published?

[2016-09-16 14:06] romeovs opened #9 "Split ttn node into uplink and activations"
During the workshops, I often see people connecting the second output of the ttn node and expecting uplink messages to come out of that as well.

I think we can alleviate this problem by creating a new node: the ttn activations node.
The client can be shared via the configuration node that is introduced by #8 so this does not
create any configuration / connection overhead.

[2016-09-16 18:03] johanstokking commented on #6
I'd say add the ability to enter an optional field name which is appended to the topic internally

[2016-09-16 18:08] FokkeZB commented on #6
I thought of that but then you will not be able to subscribe to a specific device. I already thought of an idea for https://github.com/TheThingsNetwork/node-app-lib/issues/9 which I'll implement next week

[2016-09-18 14:48] johanstokking commented on #6
How so? You can subscribe to `+/devices/+/up/{field}`, replacing `{field}` by the entered field name. If no field name is entered, just subscribe to `+/devices/+/up`

[2016-09-18 14:58] FokkeZB commented on #6
Both examples are for all devices, not a specific one, which would require the second + to be a device ID

[2016-09-18 17:06] FokkeZB commented on #6
Circling back after convo on Slack, for Node-RED the node should have an optional **Device ID** field as well as an optional **Field (Path)**.

If you'd want to listen to a couple of Device ID / Field combos you should use multiple TTN nodes or simply use the MQTT node and go crazy.

[2016-09-19 08:56] FokkeZB commented on #9
Yes, let's do this and call that node `ttn-activation` (see https://github.com/TheThingsNetwork/nodered-app-lib/pull/8#r79348606)

[2016-09-19 08:57] FokkeZB commented on #5
Maybe we should do this only for the refactor branch, same with #9

[2016-09-19 11:28] FokkeZB opened #10 "Convert payload_raw to actual Buffer"
See https://github.com/TheThingsNetwork/ttn/issues/252#issuecomment-247960333

[2016-09-19 11:30] FokkeZB commented on #10
Will be taken care off by https://github.com/TheThingsNetwork/node-app-lib/issues/14

[2016-09-21 06:59] FokkeZB commented on #6
Can be done once https://github.com/TheThingsNetwork/node-app-lib/pull/18 is merged

[2016-09-21 11:21] FokkeZB commented on #5
Closed by #8 and #11

[2016-09-21 11:21] #5 closed

[2016-09-23 10:22] #10 closed

[2016-09-23 12:37] FokkeZB opened #13 "Update for new Node APIs"
Quite some changes:

- [x] `payload_raw` is now decoded: https://github.com/TheThingsNetwork/node-app-lib/pull/15
- [x] `sendBytes(payload)` can now be array: https://github.com/TheThingsNetwork/node-app-lib/pull/17
- [ ] Support for TLS: https://github.com/TheThingsNetwork/node-app-lib/pull/20
- [x] `dev_id` is no longer in payload but first argument of callbacks: https://github.com/TheThingsNetw

[2016-09-23 12:37] FokkeZB opened #14 "Support new App and Device events"
See https://github.com/TheThingsNetwork/node-app-lib/issues/26

[2016-09-27 13:41] FokkeZB commented on #7
Done: http://flows.nodered.org/node/node-red-contrib-ttn

[2016-09-27 13:41] #7 closed

[2016-09-30 07:31] FokkeZB opened #17 "Add support for TLS"

[2016-09-30 07:32] FokkeZB commented on #13
Opened #17 for TLS and closing this one.

[2016-09-30 07:32] #13 closed

[2016-09-30 11:00] FokkeZB commented on #14
Closed by #16

[2016-09-30 11:00] #14 closed

[2016-09-30 11:01] FokkeZB commented on #6
Closed by #16

[2016-09-30 11:01] #6 closed

[2016-09-30 11:01] FokkeZB commented on #9
Closed by #16

[2016-09-30 11:01] #9 closed

[2016-10-05 17:31] FokkeZB opened #19 "Use node's name in shared error messages"
All nodes use [lib/init.js](lib/init.js) which can throw an `No app set` error. In the console you can see what node threw it, but in Node-RED's debug sidebar you can't. So the message should include the (custom) name of the node.

[2016-10-05 17:32] FokkeZB opened #20 "Test flow export and import"
We've had a report where after exporting and importing a flow the user had the `No app set` error. We need to check if in this scenario indeed the link to the config node breaks.

[2016-10-12 07:36] htdvisser opened #21 "Rename refactor -> v2-preview"

[2016-10-14 19:19] FokkeZB opened #22 "devId > dev_id"

[2016-10-17 10:45] johanstokking opened #23 "Import/export through clipboard does not work"
The application is not properly copied.

The access key should not be part of the copy.

[2016-11-30 03:22] #1 closed

[2016-12-02 05:54] FokkeZB commented on #22
See https://github.com/TheThingsNetwork/node-app-sdk/issues/46

[2016-12-02 08:40] FokkeZB commented on #21
No longer relevant since it's merged to master

[2016-12-02 08:40] #21 closed

[2016-12-02 08:41] FokkeZB commented on #20
Dupe of #23

[2016-12-02 08:41] #20 closed

[2016-12-02 08:46] FokkeZB opened #25 "RFC: Rename repository.. to what?"
@johanstokking This is a weird case again. It's not an SDK. Should we call it an integration maybe? So `nodered-integration` like we'll have `azure-integration`?

[2016-12-02 14:45] FokkeZB opened #26 "Change order of fields to match order in Console"
Current order is App ID, Access Key, Region, while Access Key is all the way down on the page.

[2016-12-14 10:45] FokkeZB commented on #23
Why shouldn't it be part of the copy? Can we even influence what fields Node-RED should and should not copy?

[2016-12-14 10:56] #26 closed

[2016-12-14 10:57] #22 closed

[2016-12-14 10:57] johanstokking commented on #25
Yes

[2016-12-14 11:01] johanstokking commented on #25
Will become `nodered-app-node`; it's node(s); integration is reserved for future use

[2016-12-14 11:01] #25 closed

[2016-12-14 13:06] johanstokking commented on #23
Not sure if we can influence it, but it seems that there's a container for server or account data. E.g., if you copy your Twitter node, it doesn't copy the credentials. It would be great if we can do this as well.

The other issue is that there was a bad reference when pasting a copied node which also appeared in the debug and/or console log. I have not reproduced this myself but I will when time

[2016-12-14 13:13] FokkeZB commented on #23
I'll look at it.. once we have production up

[2016-12-16 15:16] FokkeZB opened #29 "Publish via Travis"
https://docs.travis-ci.com/user/deployment/npm/

[2016-12-23 11:31] pz1 opened #30 "The example flow link on the webpage is dead."
On page https://www.npmjs.com/package/node-red-contrib-ttn, the Example-flow link is dead

[2016-12-27 15:41] #30 closed

[2017-01-06 11:02] htdvisser opened #32 "Build Docker image via Travis"

[2017-04-11 15:12] johanstokking commented on #32
CD goes through GitLab

[2017-04-12 05:14] htdvisser commented on #32
I think we should not use gitlab if we don't need it. In this case, the build can easily be done on Travis

[2017-05-16 07:27] JosefJezek commented on #17
@FokkeZB any solution?

[2017-05-16 07:33] FokkeZB commented on #17
Hi @JosefJezek - Sorry, I don't work for TTN anymore.

/cc @johanstokking

[2017-09-25 17:02] FokkeZB commented on #23
Hey @johanstokking could you unassign or reassign this issue? Thx!

[2017-09-25 17:02] FokkeZB commented on #23
Interesting, how did I do that automatically via a comment?

[2017-09-25 17:02] FokkeZB commented on #19
Hey @johanstokking could you unassign or reassign this issue? Thx!

[2017-09-25 17:03] FokkeZB commented on #19
Mmm, didn't do it automatically here ¯\_(ツ)_/¯

[2017-09-26 11:24] #19 closed

[2017-10-10 06:38] beneuto opened #34 "Downlink Scheduling"
Proposed enhancement.   Add support for downlink scheduling as per the example below lifted from the TTN API documentation.   Configure as msg inputs so that confirmed and schedule values can be set on a message by message basis.

[code]

[2017-10-11 07:52] romeovs commented on #34
I like the idea!

This will take some time however since this library depends on an old version of the `ttn` package, which does not support scheduling to be set. Rewriting it to use the newer version of `ttn` will take a while.

[2017-10-22 11:14] cyberman54 opened #36 "ttn-app node is not installed to Node-RED"
After installation of the nodes and copying the example flow my Node-RED reports error on the ttn app node: "This node is a type unknown to your installation of Node-RED."

The other nodes (ttn send, ttn device, ttn message) are properly installed and work.

[2017-10-30 06:49] beneuto opened #39 "Connections duplicated on redeploy"
If you redeploy a node-red flow with TTN message node connections then the connection is duplicated (i.e. original connection is not closed) resulting in duplicate messages being generated.

[2017-10-31 09:25] johanstokking commented on #39
@beneuto thanks for reporting, we'll investigate this

Feel free to submit a pull request fixing the issue!

[2017-11-11 09:01] rmh78 opened #40 "TTN metadata of a message"
Is there a was to receive the TTN metadata of a message?

[2017-11-16 10:02] johanstokking commented on #40
@rmh78 yes, in fact everything is in `msg`, while the payload is placed in `msg.payload`

To test, drop a Debug node, double click it and select to print the entire `msg` object

[2017-11-16 10:02] #40 closed

[2017-11-17 10:50] gxvigo opened #41 "Can't load flow editor in Chrome if installed locally (mac)"
Hi There,

I have installed locally on my mac latest version of node-red with npm.
When I try to open the flow editor (localhost:1880) the top bar shows up for few seconds than the browser returns the error:
Aw, Snap!
Something went wrong while displaying this web page.
Can't see any error in Terminal, can't see any error in Chrome debug or network as devtools disconnect.
If I open the same page i

[2017-11-17 14:54] johanstokking commented on #41
@gxvigo thanks for reporting. Not sure how this is caused. Also it doesn't seem related to the Node-RED node of The Things Network, is it?

[2017-11-17 19:36] gxvigo commented on #41
yeah... I believe you are actually right, I assumed this is the main Node-red git repo (..with a particular name). My issue is related to standard node-red.

[2017-11-20 08:50] johanstokking commented on #41
OK, I understand the confusion, no problem! I'll close this one.

[2017-11-20 08:50] #41 closed

[2018-02-13 08:58] Oliv4945 commented on #39
Hi,

I also have the bug on a fresh node-red install with only TTN node installed.

[2018-02-13 10:21] johanstokking commented on #39
This seems quite easy to fix.

Anyone?

See https://github.com/node-red/node-red/issues/893#issuecomment-221696528

[2018-02-13 11:00] Oliv4945 commented on #39
Thanks, I will try it and do a PR if it works.

[2018-02-13 13:03] Oliv4945 commented on #39
Its weird. [NPM last release](https://www.npmjs.com/package/node-red-contrib-ttn) is v2.0.1, it does contain the "[done()](https://github.com/TheThingsNetwork/nodered-app-node/blob/f07cbd647ba18d7d1b2a92ed7e3be4f8173c6834/ttn-app/ttn-app.js#L33)" call and the bug is present.

By the way this call [has been removed](https://github.com/TheThingsNetwork/nodered-app-node/commit/8ff75ac48eb4c82515d0c46

[2018-02-13 13:14] johanstokking commented on #39
Right, it has not been deployed. I will do that.

[2018-02-13 13:17] johanstokking commented on #39
@Oliv4945 done

[2018-02-13 13:17] #39 closed

[2018-02-13 13:19] johanstokking commented on #36
The quick start example works for me.

Can you provide steps to reproduce?

[2018-02-13 13:19] #36 closed

[2018-02-13 13:20] johanstokking commented on #34
This should be resolved in `v2.0.2`

[2018-02-13 13:20] #34 closed

[2018-02-13 13:27] #29 closed

[2018-02-13 13:27] johanstokking commented on #23
Should be done

[2018-02-13 13:27] #23 closed

[2018-03-02 09:40] Batigolle opened #43 "Node-red-contrib-ttn installation error in node-red 0.18.4 ( Win10 )"
Initial situation, working ok:     Windows10 + node-red 0.18.2 + node-red-contrib-ttn

After updating to version 0.18.4, manage palette, reports that contib-ttn needs to be reinstalled.

Tried to do the installation from manage palette, without success.
Tried to reinstall the command line node (npm install node-red-contrib-ttn),
but I get many error reports, reinstallation is not successful.

Atta

[2018-03-02 21:55] johncaipa commented on #43
i cant install it in Node-RED instance on IBM Cloud now

[2018-03-04 15:53] johanstokking commented on #43
@Batigolle what is your npm and node version?

I cannot reproduce on High Sierra, npm 5.4.0, node 9.5.0, node-red 0.18.4 and node-red-contrib-ttn 2.0.4.

@johncaipa @Batigolle does a previous version work, i.e. `2.0.1`? That should be `npm install node-red-contrib-ttn@2.0.1`

[2018-03-04 16:41] johncaipa commented on #43
@johanstokking in my case it seems to be a problem in the new version of node-RED(v0.18.4), I had to do downgrate to both node-RER (v0.17.5) and node-red-contrib-ttn (v2.0.1) this since it does not allow to install it from the graphical interface anymore, I have to add it to the package.json

[2018-03-04 17:30] johanstokking commented on #43
That may have something to do with the requirement to run a script to install the grpc dependency.

[2018-03-04 20:03] Batigolle commented on #43
@johanstokking  my current version are :
npm 5.6.0
node.js 8.9.4
node-red 0.18.4

I have tried to install the contrib-ttn 2.0.1 version, as you suggested
this is the output of the command
![image](https://user-images.githubusercontent.com/19666466/36949945-223d72ee-1fef-11e8-8693-40f7c775af54.png)

After starting node-red, I see the ttn nodes in the left bar and
 in Manage palette it is suggested

[2018-03-05 11:08] johanstokking commented on #43
@Batigolle You should be working from the `.node-red` directory. Please see general instructions for installing Node-RED nodes.

[2018-03-05 18:46] Batigolle commented on #43
@johanstokking you're right,
I repeated the installation
![image](https://user-images.githubusercontent.com/19666466/36993321-d153952e-20ad-11e8-80c4-2c8f06064b3b.png)

[2018-03-05 21:47] johanstokking commented on #43
@Batigolle this looks good. How about `2.0.4`?

[2018-03-05 22:01] Batigolle commented on #43
@johanstokking
I repeated the installation 2.0.4, this it's output
![image](https://user-images.githubusercontent.com/19666466/37002034-ae398d1c-20c8-11e8-8831-5cea46a84c84.png)

after start node-red , on manage palette , it still requires updating to the version 2.0.4
![image](https://user-images.githubusercontent.com/19666466/37002198-2cce0248-20c9-11e8-95cd-a554583eefab.png)

[2018-03-06 09:06] johanstokking commented on #43
I cannot reproduce still. Can you verify that you don't have `node-red-contrib-ttn@2.0.1` installed globally?

<img width="578" alt="screen shot 2018-03-06 at 10 06 19" src="https://user-images.githubusercontent.com/13334001/37023396-17d64faa-2126-11e8-9bf0-fc1cd3bb8ac1.png">

[2018-03-06 16:56] Batigolle commented on #43
@johanstokking  both from Manage palette and from User Setting, the result is always the same
![image](https://user-images.githubusercontent.com/19666466/37046018-9bc4aaf0-2167-11e8-9b56-ce289680ba55.png)

[2018-03-06 17:02] Batigolle commented on #43
@johanstokking  if I try to select, from Manage Palette "Update to 2.0.4", obtaining the following error
![image](https://user-images.githubusercontent.com/19666466/37046365-7b12cd22-2168-11e8-85d0-6f3b5b5c5baf.png)

[2018-03-06 20:46] johanstokking commented on #43
That indeed suggests that the module is installed globally, not locally.

1. See https://docs.npmjs.com/getting-started/uninstalling-global-packages
2. See https://docs.npmjs.com/getting-started/installing-npm-packages-locally (in `$HOME/.node-red`)

[2018-03-07 17:20] Batigolle commented on #43
Hi @johanstokking  , I tried to uninstall the node with your instructions 1), but nothing happened.

I investigated the global and local settings of the installations and I found a lot of confusion in the folders on the computer, I found 4 folders ".../node_modules "  !

I think it's due to a wrong update of nod-red to the vers. 0.18.4

I deleted only one node_modules directory of the four and the

[2018-03-09 15:02] johanstokking commented on #43
@Batigolle thanks for the details. Indeed, Node.js and Node-RED installations are very easy to become a complete mess, certainly under Windows. This doesn't seem related to this particular repository so I'm closing this issue.

[2018-03-09 15:02] #43 closed

[2018-04-12 18:47] iotlearner0level opened #44 "Node-red/Raspberry pi zero crashes"
On installing this node, node-red just crashes on startup with the message Illegal Instruction.

if i delete this node node-red starts as normal. i think zero is arm6. Is this node for armv7?

I've installed from pallette manager as well as from command line in ~/.node-red$ npm install node-red-node-xyz and the same problem

[2018-04-12 20:10] johanstokking commented on #44
Thanks for reporting. Can you post the full stack trace?

[2018-04-12 20:32] iotlearner0level commented on #44
please guide how can i do that?

[2018-04-13 09:59] iotlearner0level commented on #44
`pi@zeropi:~ $ node-red
13 Apr 15:21:17 - [info]

Welcome to Node-RED
===================

13 Apr 15:21:17 - [info] Node-RED version: v0.18.4
13 Apr 15:21:17 - [info] Node.js  version: v8.11.1
13 Apr 15:21:17 - [info] Linux 4.9.80+ arm LE
13 Apr 15:21:37 - [info] Loading palette nodes
Illegal instruction
`

`pi@zeropi:~/.node-red/node_modules $ rm node-red-contrib-ttn/ -rf

[2018-04-13 10:15] iotlearner0level commented on #44
following the instructions on this page: https://github.com/BretStateham/pinodevscode i get the following output in the VS Code remote debugger for node js:
`(node:20665) [INSPECTOR_ASYNC_STACK_TRACES_NOT_AVAILABLE] Warning: Warning: Async stack traces in debugger are not available on 32bit platforms. The feature is disabled.
13 Apr 15:38:58 - [info]

Welcome to Node-RED
===================

13 Ap

[2018-04-16 11:36] johanstokking commented on #44
That's weird. How did you install Node.js? Can you try upgrading Node.js?

Also, can you check if the examples in https://github.com/thethingsnetwork/node-app-sdk do work? Let's see if we can isolate this issue from Node-RED, which is harder to debug.

[2018-04-16 17:51] iotlearner0level commented on #44
$sudo apt-get install nodejs

Following the instructions here: https://www.thethingsnetwork.org/docs/applications/nodejs/quick-start.html

i get:
pi@zeropi:~/app $ node .
Illegal instruction

[2018-04-17 08:01] iotlearner0level commented on #44
ok, looks like node-red shipped with raspbian was quite old. i upgraded nodejs from https://nodejs.org/dist/v9.11.1/node-v9.11.1-linux-armv6l.tar.xz installed to /opt and changed the symlink form /usr/bin to v9.11 and ttn seems to work without any problem!!
pi@zeropi:~/.node-red $ node -v
v9.11.1

sorry for wasting your time..but strange that only ttn used to crash node-red and nothing else

[2018-04-18 08:57] johanstokking commented on #44
That is weird indeed. Can you confirm that the Node version that Node-RED reports is now v9.11.1?

[2018-04-18 09:42] iotlearner0level commented on #44
I deleted :`~/.node-red/node_modules/node-red-contrib-ttn` and all the reference to ttn in package.json as well as in the package-lock.json. restarted node-red, and installed from pallette...node-red dies with illegal instruction!! Looks like i won't be able to use ttn in node-red on the pi zero...and by the way, another lora related node called lora-packet-decoder works ok.
and node-red reports v

[2018-04-18 09:54] iotlearner0level commented on #44
After a little more effort, there is some problem with ttn-app. See the following:
[code]
But if i run node with other nodes, no such error message..
[code]

[2018-04-18 10:03] iotlearner0level commented on #44
If i delete ttn-app.js, node-red works without any trouble. Not sure what could be the reason:
[code]

[2018-04-19 09:40] johanstokking commented on #44
It seems that the node in `ttn-event` and `ttn-app` are instantiated differently; the former one has a more graceful early exit, which may not crash Node-RED but still does not work.

The error `Illegal instruction` doesn't give any pointers, so best is to isolate the issue.

Can you try with the `node-app-sdk` examples, regardless of Node-RED?

[2018-04-21 10:13] iotlearner0level commented on #44
[code]

these seem to work ok, without causing illegal instruction. if you want me to test any specific .js using node.js, please indicate as this sdk is huge and without knowing how it works, it is going to take me huge amount of time!

[2018-04-23 08:39] johanstokking commented on #44
Thanks. Can you `git clone https://github.com/TheThingsNetwork/node-app-sdk.git` and follow instructions on https://github.com/thethingsnetwork/node-app-sdk?

Specifically the sections Test, Quality, Build and Example.

It might be that the Build step produces different output for your processor architecture, so building it on your Pi Zero may make it work in the Example.

[2018-04-24 21:24] iotlearner0level commented on #44
I am new to this nodejs environment and toolchain. so i might have missed some step. anyhow make test gives the following illegal instruction

[code]

make typecheck says platform not supported for flow-bin/cli.js

[code]

make quality doesn't proceed because make typecheck fails:
[code]

On the contrary make build proceeds without any errors:```

pi@zeropi:~/test/node-app-sdk $ make build
src/acc

[2018-04-30 09:59] johanstokking commented on #44
Thanks. It may be a platform issue indeed with one of the dependencies, making the Pi Zero an unsupported platform for this library.

Can you verify and run the _examples_ (so not dist)? See https://github.com/TheThingsNetwork/node-app-sdk/tree/master/examples

[2018-04-30 10:28] iotlearner0level commented on #44
[code]
here is what ../src looks like:

[code]

From the es5 directory:
[code]

[2018-04-30 10:56] johanstokking commented on #44
It seems some dependencies were outdated. I upgraded them, see the `feature/update-deps` branch (https://github.com/TheThingsNetwork/node-app-sdk/tree/feature/update-deps)

Can you check again? Best is to remove the `node_modules` and try install everything with `yarn`.

Finally, please let me know your `node -v` output.

[2018-05-03 16:25] iotlearner0level commented on #44
Its compiling. looks like it will take a few more days...

[code]

[2018-05-09 19:37] iotlearner0level commented on #44
Inspite of trying several times, it gives me out of memory error.

[2018-05-10 09:28] johanstokking commented on #44
OK. I'm afraid we have to keep this one open. I cannot reproduce due to limited access to hardware.

[2018-05-10 11:13] iotlearner0level commented on #44
i will try again after a month or so. i'm a bit busy with my "real life" maybe i will try with some swap memory on the pi zero which only has like 512mb ram. to save sdcard corruption i turned off swap. if i use node directly with any of the .js it gives me some import error

[2018-05-30 17:13] ismangil opened #45 "uplink node not connecting"
I've configured the TTN app, with access key, and deployed the flow. However it is not showing as connecting, and nothing comes on the debug.

Where can I look further to diagnose this?

[2018-05-31 10:16] johanstokking commented on #45
What does the Node-RED cli output say?

Are you on the right region?

[2018-05-31 12:27] ismangil commented on #45
How do I set the region/tell which region am I in currently?

Node-RED cli:
[code]

[2018-06-01 13:38] johanstokking commented on #45
It seems like we have problems with Node 10. Can you test on 8 or 9?

[2018-06-01 13:51] ismangil commented on #45
On the app definition my discovery is set to:
[code]
Node 8

[code]

[2018-06-04 20:42] johanstokking commented on #45
@ismangil can you follow these steps and tell me where it fails?

1. Drop `ttn uplink` node
2. Edit the application, use app ID `johan-dev` and demo key `ttn-account-v2.Tcdl-SnfNQMaJvy9htjo3k0YlGFitKac4AH-nrroM9A`
  <img width="1232" alt="screen shot 2018-06-04 at 13 40 52" src="https://user-images.githubusercontent.com/13334001/40940536-f993f01a-67fc-11e8-99b2-2f6c27b17dd4.png">
3. Leave `Device

[2018-06-05 08:04] ismangil commented on #45
@johanstokking all steps done, result:

- the uplink node doesn't show  _connected_.
- Debug window is empty

![screen shot 2018-06-05 at 09 00 24](https://user-images.githubusercontent.com/40037/40963021-298624c6-689f-11e8-8187-fdef9c40c822.png)

[2018-06-05 23:35] johanstokking commented on #45
You don't see any debug output?

I can't reproduce this issue unfortunately. Typical case of "it works on my machine" ...

[2018-06-06 00:11] ismangil commented on #45
Yes no debug output, no connected flag. OK I'll explore some other way to
get Node RED TTN going instead of on my local machine

On Wed, 6 Jun 2018 at 00:35 Johan Stokking <notifications@github.com> wrote:

--

Perry Ismangil

[2018-06-08 00:38] johanstokking commented on #45
Great. Please let me know when we can reopen with additional information to resolve.

[2018-06-08 00:38] #45 closed

[2018-07-09 19:18] goofy2k opened #46 "Events not known"
It is not clear which values are accepted by the event field. Although the documentation tells that a wildcard (#) can be used, the node does not accept this.

[2018-07-10 03:13] johanstokking commented on #46
Can you elaborate on "does not accept this"?

[2018-07-10 08:19] goofy2k commented on #46
Hi Johan, when I enter a # sign as the event, the node responds that this
is not a valid entry.

BUT, yesterday I updated the nodes to a current version. I noticed that the
names of the nodes have changed. Also I need to discover the new behavior.
So it is best to withdraw the issue.

Apparently, the node info on nodered.org, npm and Github was not valid for
my version of the nodes!
Thanks
Fred

O

[2018-07-10 09:58] johanstokking commented on #46
OK thanks for the heads up and glad to hear it's working now! Indeed that was a major update.

[2018-07-10 09:58] #46 closed

[2018-07-10 10:33] goofy2k commented on #46
Hi Johan, I have the nodes up and running. I see activation events coming in in the events node (with event set to #).

By careful reading, and following the events link in the Quickstart I also discovered somewhat more on possible settings for events.

Unfortunately the messages generated by the events node do not contain info on the type of event (am I correct?). I also use the method to communi

[2018-07-10 10:42] johanstokking commented on #46
Isn't that information put in `msg` (not in `msg.payload`)?

[2018-07-10 10:51] goofy2k commented on #46
No... unfortunately not. You can also see it in the example responses in
the Quickstart.

Especially if one wants to discover what's going on (like me 😊) it is
useful to learn to what replacement of the wildcard the system is actually
responding.

Fred

Op di 10 jul. 2018 12:42 schreef Johan Stokking <notifications@github.com>:

[2018-07-11 03:23] johanstokking commented on #46
You are right, indeed. This should be added. I'm creating a new issue.

[2018-07-11 03:24] johanstokking opened #47 "Add event type to message"
The events node should pass the event type as part of `msg` (i.e. `msg.eventType`). This is especially useful when subscribing to events `#`.

References #46.

[2018-08-02 11:15] max-rh opened #48 "node-red-contrib-ttn NOT WORKING !"
Hi there,
I was using node-red ttn node to receive traffic from my ttn applications, it was working fine till it stopped working few days ago, although it still shows that the node is still connected, any thoughts ?

I can see my sensors traffic on the gateway from ttn console, but still no data received in node-red.
Thanks

[2018-08-02 12:44] johanstokking commented on #48
Do you see Node-RED reporting any errors? Does a reconnect help by chance?

[2018-08-02 13:51] max-rh commented on #48
Hi John,
No, there is no any warnings at node-red, actually i have tried to reconnect (redeploy) multiple times, (even tried another Node-red platform) it shows no warnings or alerts, it actually shows that the nodes are connected.

FYI, i have tried TTN nodes and mqtt nodes by adding the DevID and AppKey for authentication and the required topic as in TTN documentation, it shows that the MQTT nod

[2018-08-02 16:56] goofy2k commented on #48
Do you normally  have more than one gateway receiving your traffic? If you
only have one gateway nearby (as I have) it could well be that the gateway
is down.

Fred

Op do 2 aug. 2018 13:15 schreef max-rh <notifications@github.com>:

[2018-08-03 13:34] johanstokking commented on #48
@max-rh you need the App ID and App Access Key for authentication; the device ID and AppKey are for LoRaWAN authentication to the network.

Do you see data flowing in the Console?

[2018-08-03 20:19] max-rh commented on #48
yes @johanstokking , i can see my sesnors traffic flowing in the console,
Attached is  a snapshot from my Node-Red platform, as you can see all node show "Connected" status.
and this flow was already working, it just stopped suddenly as i mentioned before.

Thanks John for you advice.

![nodered](https://user-images.githubusercontent.com/25219094/43663877-ab6703e0-9773-11e8-9d0f-d50e9a14584b.PNG)

[2018-08-06 09:30] johanstokking commented on #48
Can you share a screenshot of the node settings with obscuring the app access key please?

[2018-10-12 13:53] mhuelsmann commented on #45
Hello, i have the same problem on my server. For 3 months it works without problems. Today it stops and i have no comments in the logs.

before it stopps i have this logfile entries
[ttn app:637eb534.e1xxxxx] Connected to TTN application xxxxx

to fix it i have update node-red and reinstall the ttn app, but it doesnt work.

 Michael

[2018-10-12 14:52] johanstokking commented on #45
Please file a new issue with full logs @mhuelsmann

[2018-10-28 09:52] solick opened #49 "No ttn app"
Hi, i had a working flow up and running and reinstalled the modules again for some reason. Now the ttn app node is missing. I tried to reinstall the module serveral times, restarted node etc. but still the problem remains.

Any idea on this?

[2018-10-29 22:55] mjsegurapromatix commented on #45
@mhuelsmann Hi could you fix the problem'?
I have node red working on AWS for long time and today stop working ttn uplink, I restarted and update ttn node but nothing happen, no connection. I'm using the last contrib
Please I need some tips to see where is the problem?

[2018-10-30 21:49] johanstokking commented on #45
@mjsegurapromatix please file a new issue.

Also provide contextual information there, i.e. which Node.js version, and try with github.com/TheThingsNetwork/node-app-sdk example to see if that works.

[2018-10-30 22:58] mjsegurapromatix commented on #45
thanks johan, it came back to work again without any change. So there should be some connection problem between TTN and AWS, thanks for your time

[2018-11-03 21:42] johanstokking commented on #49
Do you see any error or warning output from Node-RED?

Otherwise it seems like a general custom nodes installation issue.

[2018-11-03 23:48] dicktonyboy opened #50 "ttn app: NoappId, accessKey or discovery address"
Brand new Stretch Pi install on Pi 3, then run the install script  bash <(curl -sL https://raw.githubusercontent.com/node-red/raspbian-deb-package/master/resources/update-nodejs-and-nodered)   Node v11.1.0  npm V 6.4.1  So far so good.    The ttn- install using the GUI install fails or on the second attempt loads the three node BUT when trying to configure Node Properties there is no edit/add opti

[2018-11-04 01:14] johanstokking commented on #50
Thanks for reporting, we'll look into this.

[2018-11-07 15:53] maartendel opened #51 "npm install doesn't work"
pi@raspberrypi:~/.node-red $ sudo npm install node-red-contrib-ttn
[sudo] password for pi:
npm ERR! code ENOGIT
npm ERR! Error while executing:
npm ERR! undefined ls-remote -h -t https://github.com/thethingsnetwork/api.git
npm ERR!
npm ERR! undefined
npm ERR! No git binary found in $PATH
npm ERR!
npm ERR! Failed using git.
npm ERR! Please check if you have git installed and in your PATH.

npm ERR!

[2018-11-09 07:41] johanstokking commented on #51
I cannot reproduce this.

Please post you `node` and `npm` versions, as well as the complete log that is referenced.

[2018-11-11 22:01] Octoate commented on #50
Hi,
I have the same problem, however I am using Docker on my Raspberry Pi and the official Docker image for it ([Node-Red Docker Image](https://hub.docker.com/r/nodered/node-red-docker/). I tried to install the TTN nodes via GUI, command line and the node-red remote administration tool, but always with the same result: the ttn-app node is not working.
On my desktop system I am using the same setup

[2018-11-12 11:43] johanstokking commented on #50
That looks like an older version of the TTN nodes for Node-RED; `ttn app` is gone now.

[2018-11-13 19:44] Octoate commented on #50
Strange. It tells me that I am using the latest version: v2.0.4.

[2018-11-14 09:38] johanstokking commented on #50
@Octoate the `ttn app` is a configuration node, hence it's grayed out. So contrary to what I said above, it is still being used, but not supposed to be placed on your flows as a node.

@dicktonyboy I cannot reproduce this. This sounds like an installation issue, by a mixup of GUI and CLI installs. I need a clean set of steps to reproduce from a known state, instead of a list of things that have be

[2018-11-14 23:47] dicktonyboy commented on #50
Wenner World of Weirdness continues.  Made a clean Stretch install and applied the update script from the Node Red site. Installed ttn and had the same error - ie no blue 'connected' circle.  Moved the Pi to another network (forcing static IP - no other change) and the blue connected indicators appear!!!  (Aside- using older firefox 24.5.0).  Reverted back to original physical network (and dhcp) a

[2018-11-15 11:18] johanstokking commented on #50
That's weird. Please also keep a close look at the browser's JavaScript/console output.

[2018-11-25 21:46] RvRijsselt opened #52 "TTN nodes do not play well with node-red-contrib-string"
Node configuration does not work when both node-red-contrib-ttn and node-red-contrib-string are installed. Instead of the expected text entry fields for 'App ID', 'Access key', etc. I get a dropdown menu with a 'string' configuration node.

The issue is caused by the 'type: "string"' entry in every ttn node's html file. The type property is optional and should be removed.

[2018-11-25 22:39] RvRijsselt commented on #50
I probably had the same initial issue:
 - there is no edit/add option in the App option box
 - [object Object] error in the manage palette dialog
 - and the following log at startup (same as @Octoate)

I was able to fix my installation by running the following in the .node-red path:
`npm rebuild --build-from-source=grpc`

Note however that I am running Raspbian GNU/Linux 8 (jessie). Oh and the net

[2018-11-26 16:30] johanstokking commented on #50
@RvRijsselt great, that sounds as a sensible solution indeed. Could you make a PR for the README?

[2018-11-27 09:11] johanstokking commented on #50
Closed by #53

[2018-11-27 09:11] #50 closed

[2018-12-02 22:39] Octoate commented on #50
Finally, that fixed the issue. Thanks a lot. Everything is working now!

[2018-12-04 08:46] youssef8991 opened #55 "Node-red-contrib-ttn I have error 14 not connected"
The node ttn up link works for few minutes then stops ,i get this error please help
![image](https://user-images.githubusercontent.com/45587166/49429719-d5c94200-f76e-11e8-8a9d-b1ec9d62ad4d.png)

[2018-12-05 10:22] johanstokking commented on #55
I agree that the error is not very clean, but this is simply a connection failure. Please check application settings.

[2018-12-05 10:22] #55 closed

[2019-01-27 19:01] RvRijsselt commented on #52
Issue is resolved with latest 2.0.5 version. Thanks!

[2019-01-27 19:01] #52 closed

[2019-02-04 16:36] GryKyo commented on #44
@johanstokking : Did you ever reach a conclusion with this issue?  Unsupported platform armV6l?  I have put mosquitto and Node-Red on a Pi Zero W which already runs a TTN packet forwarder (Rak radio) for a student needs to do some LoRaWAN project work.  Everything is stable until I use the palette manager to install this node.  Node-red crashes and node hogs almost all cpu and memory.  Has this be

[2019-02-05 17:32] johanstokking commented on #44
@GryKyo I'm quite sure the issue is related to the compilation of a gRPC dependency. Can you try running `npm install -g ttn` from command line and copy the output?

[2019-02-15 14:22] Tsaunders20 opened #56 "Can't edit app on ttn uplink node(and others)"
Hi, I've been trying to get TTN working on a multitech gateway using node-red, I've got the files on there and have been able to get the quickstart on there, the only thing I'm missing is the ability to edit the app. I've seen from the quickstart that generally people are able to fix this by seeing anything in the console when they start node-red, however on a multitech gateway it comes preinstall

[2019-02-18 17:06] johanstokking commented on #56
Are you referring specifically to using the Node-RED nodes on the Conduit AEP's builtin Node-RED?

[2019-03-08 12:27] cyberman54 opened #57 "Error " Flows stopped due to missing node types.""
After installing the app-node v2.05 in the node-red UI i see this error:

The app nodes are not working any longer. In the app the drop down list disappeared.

The app nodes are listed under unknown nodes with this error:

Reinstallation of node-red and node.js did not help :-(

[2019-03-08 16:34] johanstokking commented on #57
1. Do you see other `ttn` nodes, and if so, which ones?
2. Does Node-RED print any errors in the terminal?

[2019-03-09 17:51] cyberman54 commented on #57
I could solve this by a complete reinstall, assuming that a gRPC version problem causes this issue. closed.

[2019-03-09 17:51] #57 closed

[2019-03-23 12:36] solick commented on #49
Sorry for the late response. No errors at node-red log. Other node installations works fine. It is only ttn. I can see the ttn event etc. nodes but cannot select an existing or create a new ttn node

[2019-03-25 15:25] johanstokking commented on #49
Can you share your environment and reproduction steps?

[2019-03-26 08:16] solick commented on #49
@johanstokking
1. setup node-red with docker
     node-red-dev:
       image: nodered/node-red-docker
       container_name: node-red-dev
       logging:
          options:
            max-size: "10m"
            max-file: "5"
      ports:
         - 1900:1880
      volumes:
         - /{path-to-docker-data}/node-red-dev/data:/data
      user: "1000:1000"
      restart: always
2. run node-red
3. i

[2019-03-26 15:23] johanstokking commented on #49
And what is the environment and version? Can can you print the output of Node-RED, i.e. `docker logs ...`?

[2019-03-28 10:24] solick commented on #49
@johanstokking i tested it under macOS and ubuntu 18.04 same result.

[2019-03-28 12:30] johanstokking commented on #49
@solick thanks, again it is very helpful if you provide _version_ and _logs_ as requested.

Anyway, I tried this with:

[code]

Installation is successful.

If you mean that `ttn app` is not a node in the palette, then that's intended, as `app` is a configuration node. You only use `uplink`, `downlink` and `event` in your flows. When you configure an application, you create an `app` node, which yo

[2019-03-28 12:30] #49 closed

[2019-04-07 17:08] ruifcsilva commented on #44
I thought I would share this as the exact same thing just happened with me on booth Raspberry Pi Zero W and Raspberry Pi 3 B+
if of any help, see my pots on Node-Red Forum: https://discourse.nodered.org/t/code-killed-status-4-ill/9627?u=ruifcsilva

[2019-04-10 20:59] colinl opened #58 "Git should be mentioned as a prerequisite"
It appears that git must be installed in order to install this node.  It would be helpful if this were mentioned in the readme.

[2019-04-25 14:21] johanstokking commented on #58
Isn't this with all nodes?

[2019-04-25 14:42] colinl commented on #58
I don't believe so.

[2019-04-25 15:37] #58 closed

[2019-04-25 15:38] colinl commented on #58
Is there a reason this has been closed?

[2019-05-03 13:17] solick commented on #49
Hi and sorry for the delay. node red throws the error that the ttn app is not found.
I use the MQTT broker now which works fine for me and stopped trying get the node-red plugin working.

However here are the requested information:

`3 May 13:17:11 - [info] Node-RED version: v0.19.5
3 May 13:17:11 - [info] Node.js  version: v6.14.4
3 May 13:17:11 - [info] Linux 4.15.0-47-generic x64 LE`

[2019-05-17 06:18] rbm78bln commented on #44
Yes, I can also confirm this on RPi0W, RPi3B+, and RPi1B+ happing.
Any news on this?

[2019-05-30 14:26] dusnoki commented on #44
I can confirm as well, as soon as I install node-red-contrib-ttn on the raspberry pi zero w either from the palette manager or via npm i from the console, node-red just doesn't want to start. I have to remove it with
`rm -rf node_modules/node-red-contrib-ttn
sudo service nodered restart
`
and it comes back alive.

`May 30 16:14:07 raspberrypi systemd[1]: Started Node-RED graphical event wiring too

[2019-05-31 09:09] GryKyo commented on #44
I managed to knock out Node-Red on a PiZero based TTN gateway once again by installing this, so yes I can confirm that this is still an issue.

G

[2019-05-31 14:46] johanstokking commented on #44
Please provide context; Node version, Node-RED version, error messages, output from installation, etc.

[2019-05-31 20:20] dusnoki commented on #44
Device: Raspberry Pi Zero W Official
Node version: v10.15.3
Node-Red: v0.20.3

Install with `ssh cd ~/.node-red && npm install node-red-contrib-ttn`
output:
`pi@raspberrypi:~/.node-red $ npm install node-red-contrib-ttn
npm WARN node-red-project@0.0.1 No repository field.
npm WARN node-red-project@0.0.1 No license field.

+ node-red-contrib-ttn@2.0.5
added 1 package from 1 contributor and audited

[2019-06-06 07:17] To1952P opened #59 "Error install node-red-contrib-ttn 2.0.5"
Install 'node-red-contrib-ttn 2.0.5' in Node-red produced the following error:
2019-06-06T06:42:22.212Z Install : node-red-contrib-ttn 2.0.5

2019-06-06T06:42:21.841Z npm install --no-audit --no-update-notifier --save --save-prefix="~" --production node-red-contrib-ttn@2.0.5
2019-06-06T06:43:58.882Z [out]
2019-06-06T06:43:58.882Z [out] > grpc@1.21.1 install /config/node-red/node_modules/grpc
2019-

[2019-06-08 11:17] dusnoki commented on #44
@johanstokking Did you get a chance to check out this bug? I would really like to have ttn working on my node red on the raspberry pi zero W. If you need any help from me let me know what I can do, test or fix. Cheers

[2019-06-10 19:17] dusnoki commented on #44
I think I have found the culprit... https://github.com/grpc/grpc
Specifically this issue
https://github.com/grpc/grpc/issues/13258
Going to try and do a workaround

[2019-06-10 22:28] dusnoki commented on #44
I found a workaround,
Install the package from either the palete manager in node red, or through npm i,
`cd ~/.node-red`
`npm rebuild --build-from-source=grpc`
!Warning, it will take a long time, don't know exactly how long cause I just left the terminal open.
and then do:
`sudo service nodered restart`

And you should be all set to go.

[2019-06-11 09:10] johanstokking commented on #44
Great, thanks so much @dusnoki

Should we update the README?

[2019-06-11 09:34] #48 closed

[2019-06-11 09:35] johanstokking commented on #59
Is this a duplicate of https://github.com/TheThingsNetwork/nodered-app-node/issues/44 ?

[2019-06-12 06:50] To1952P commented on #59
I have no idea. The above debug notification is from the Raspberry PI. Alternatively I have installed node-red on windows and then installed node-red-contrib-ttn@2.0.5 via Pallette. Again the following error messages. It may have to do with accessing a Git link

-----------------------------------------------------------
2019-06-12T06:42:13.974Z Install : node-red-contrib-ttn 2.0.5

2019-06-12T06:

[2019-08-07 16:40] mglaeske commented on #57
Same problem here. And it is not possible to fix it with a reeinstall of ttn, because I have a complete new and clean installation!

Precondition:
The node-red is running inside a docker-container on a raspberry pi 3B+.
Node-Red-Image: nodered/node-red-docker:rpi  (this is 0.20.7-rpi)

Steps to reproduce the problem:
1) Install ttn (2.0.5) in a completly empty and new created node-red container (d

[2019-08-07 18:14] johanstokking commented on #57
Yeah the Pi setup is unfortunately problematic. I think we ask too much of the Pi with the library that does a compile of gRPC on install.

Apparently there are some platform specific build flags and/or resource constraints. I’d suggest using the MQTT input node directly in Node-RED if you just use streaming data.

For V3 we probably stick with that anyway as the upside for TTN nodes just for stre

[2019-08-09 15:20] theArcher73 commented on #59
I have the same problem on Raspberry Pi 3b+.
Has everybody an idea to solve the problem? The same exceptions occurs when I try to Install the node-red-contrib-ttn over the Website NodeRed

pi@CL1NodeRed:~/.node-red $ npm install node-red-contrib-ttn
npm ERR! code ENOENT
npm ERR! syscall spawn git
npm ERR! path git
npm ERR! errno ENOENT
npm ERR! enoent Error while executing:
npm ERR! enoent undefin

[2019-08-09 15:28] johanstokking commented on #59
Is this the same as https://github.com/TheThingsNetwork/nodered-app-node/issues/44 ?

[2019-08-09 16:00] theArcher73 commented on #59
no, nodeRed starts with some warnings but I cant install in the Palette....

[2019-08-09 16:01] theArcher73 commented on #59
pi@CL1NodeRed:~/.node-red $ node-red-pi --max-old-space-size=256
9 Aug 18:00:36 - [info]

Welcome to Node-RED
===================

9 Aug 18:00:36 - [info] Node-RED version: v0.20.7
9 Aug 18:00:36 - [info] Node.js  version: v10.16.2
9 Aug 18:00:36 - [info] Linux 4.19.42-v7+ arm LE
9 Aug 18:00:37 - [info] Loading palette nodes
9 Aug 18:00:41 - [info] Settings file  : /home/pi/.node-red/settings.js
9

[2019-08-12 06:25] johanstokking commented on #59
@theArcher73 please see the problem in that issue; it's also related to installation, but then through CLI and not through the palette.

[2019-08-22 08:50] nottheedge commented on #49
Hi,

This issue is somehow followed? I'm running node-red in docker and it's still throwing the same message.

Regards

[2019-08-22 13:23] nottheedge opened #60 "ttn_app missing"
Hi,

I installed nodered using docker on my RPI3b+. I tried to install nodered-contrib-ttn which gives also success message, but for some reasons ttn_app is missing. Therefore I can't connect to the network with my nodes.

I also removed the container for nodered and installed newly. Same result.

Do you have any advise how to solve that issue?

![nr-contrib-ttn](https://user-images.githubusercont

[2019-08-22 13:38] johanstokking commented on #60
Is this the same as #44 or #59 ?

[2019-08-22 13:42] johanstokking commented on #60
RPi support is now deprecated. We'll add guides for V3 to work with builtin Node-RED nodes (i.e. the MQTT input and output nodes)

[2019-08-22 13:42] #60 closed

[2019-08-22 13:42] johanstokking commented on #59
RPi support is now deprecated. We'll add guides for V3 to work with builtin Node-RED nodes (i.e. the MQTT input and output nodes)

[2019-08-22 13:42] #59 closed

[2019-08-22 13:42] johanstokking commented on #44
RPi support is now deprecated. We'll add guides for V3 to work with builtin Node-RED nodes (i.e. the MQTT input and output nodes)

[2019-08-22 13:42] #44 closed